/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
color: #2b2b2b;
}

#portfolio, #about, #contact {
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    float: left;
    width: 600px;
}
.third-width {
    float: left;
    width: 400px;
}

.section-one, .section-two, .section-three {
    height: 460px;
    margin: 16px;
}

.row-one, .row-two, .row-three {
    float: right;
    text-align: center;
}

/****** HEADER *****/

header {
    height: 700px;
    background-image: url('../images/hero-image.png');
    background-size: cover;
    background-position: center;
}

header h1 { 
    color:  #003333; 
    font-family: 'Lora', serif;
    font-size: 15px;
    padding: 35px 0 35px 15px;
}
nav {
    float: right;
    padding: 0 75px 0 25px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 40px;
}
header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 62px;
    line-height: 80px;
    color: #ffcccc;
    padding: 120px 35px 0 170px;
}
header h2 span {
    color: #2b2b2b;
}

/***** PORTFOLIO ******/
#portfolio .full-width {
    padding: 25px 0;
    height: 1650px;
    text-transform: capitalize;
}

/****** portfolio boarder option - #portfolio .portfolio-img { border: 12px solid lightcoral; } *****/

#portfolio h3 {
    font-family: 'Lora', serif;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
}
 
#portfolio p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}


/***** ABOUT ******/

#about .full-width {
    padding: 10px 10px 10px 10px;
}
#about {
    background-color: #087e8b;
    color: white;
    font-weight: bold;
    height: 500px;
}
#about h3 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 36px; 
    text-align: center;
}
#about #contact-img {
    margin-left: 25px;
    border: 5px solid white;
    width: 275px;
    float: left;
    display: inline-block;
}
#about p {
    font-size: 24px;
    color: white;
    padding: 50px;
    vertical-align: middle;
}

/***** CONTACT ******/

#contact .full-width {
    padding: 10px;
}

#contact {
    background-color: #095156;
    height: 400px;
}

#contact .third-width {
    width: 33.3333%;
    margin: 0 auto;
}

.hire-me div {
    float: left;
	padding-left: 25px;
	width: 33.3333%;
	box-sizing: border-box;
}

.follow-me div {
    float: left;
	padding-left: 25px;
	width: 33.3333%;
	box-sizing: border-box;
}

.meet-me div {
    float: left;
    padding-left: 25px;
	width: 33.3333%;
    box-sizing: border-box;
}

#contact h5 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 36px; 
    text-align: center;
    margin: 0 auto;
}
#contact h6 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0px;
    text-align: center;
}
#contact p {
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-style: italic;
    font-size: 28px;
    text-align: center;
    padding-left: 80px;
    padding-bottom: 50px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}

#footer .full-width {
    padding: 10px;
}

#footer {
    background-color: #095156;
}

#footer p {
    color: #c49075;
    font-family: 'Lora', serif;
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
}



