*, *::before, *::after {
    box-sizing: border-box;
}

/***** BASE STYLES *****/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: #2b2b2b;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
}

h4 {
    
}

h5 {
    color: #003333; 
    font-family: 'Lora', serif;
    font-size: .75rem;
}

p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
}

section {
  padding: 4em 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
}

#portfolio, #about {
  padding: 4em 0 0 0;
}

/*------ Base Header - Footer Styles ------------*/
header nav {
    width: 60%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  header nav ul li {
    font-size: 1.125em;
    margin-right: 3px;
    list-style: none;
  }

nav ul li {
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 40px;
}

footer {
    background-color: #003333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  footer p {
    margin: 0 auto;
  }
  
  footer .content-wrapper {
    width: 55%;
    margin: 50px;
  }
  
  footer .contact {
    margin-bottom: 20px 0;
  }
  
  footer .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  
  footer .social-icons i {
    background-color: #087e8b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  footer .social-icons p i {
    font-size: 1.3125em;
  }
  
  footer .copyright {
    margin: 20px 0;
  }


/****** HEADER *****/
.intro_text {
    margin: 0 auto;
}

.intro {
    background-image: url('../images/hero-resp.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.hero_area h1 {
    font-size: 3.875rem;
    line-height: 4.5rem;
    color: #ffcccc;
    margin-left: 40px;
    margin-top: 70px;
}

span {
    color: #2b2b2b;
    font-family: 'Dancing Script', cursive;
    font-size: 4.25rem;
}

/***** PORTFOLIO ******/

.section-title {
    font-size: 2rem;
    color: #2b2b2b;
}

.section-one img {
}
 

.section-one, .section-three {
    background:#f2f2f2;
}

.portfolio-section-title {
  margin-top: -60px;
}

#portfolio h3 {
    font-family: 'Lora', serif;
    font-size: 36px;
    text-align: center;
    line-height: 1;
    margin-top: 0;
}
 
#portfolio p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
}

.section-three {
  padding-bottom: 3em;
    
}


/***** ABOUT ******/

#about {
  background: #087e8b;
}

.section-about-title {
    font-size: 2.25rem;
    color: #fff;
}

#about h3 {
    font-family: 'Lora', serif;
    color: #fff;
    font-size: 2.25rem; 
    text-align: center;
    margin-bottom: 0 auto;
    line-height: 1;
    margin-top: -60px;
}

#about h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #ffcccc;
    font-size: 1.75rem;
}

#about p {
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    display: flex;
    text-align: justify;
    width: 100%;
}

#about img {
    border: 5px solid #095156;
    margin-top: 23px;
}

/* Footer */ 
footer .content-wrapper {
    width: 100%;
    margin: 100px 0;
  }
  
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
  }

  .contact, .social h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #ffcccc;
  }
  
  footer .contact {
    margin: 0 auto;
    max-width: 50%;
  }

  footer .social {
    margin: 0 auto;
    max-width: 50%;
  }

  footer h3 {
    color: #fff;
    margin-top: -80px;
  }

  footer .contact p {
      justify-content: center;
      color: #fff;
  }

  footer .contact a {
      text-decoration: none;
      color: #fff;
  }
  
  footer h4 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  
  footer p {
    line-height: 1.285;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  footer .social-icons {
    justify-content: space-between;
    color: #fff;
  }
  
  footer .copyright {
    width: 100%;
  }

  footer .copyright p {
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: .75rem;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  /* ------- Blog -------- */
  .intro_blog {
    background-image: url('../images/second-hero-resp.jpg');
    opacity: ;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.hero_area_blog h1 {
  font-size: 3.875rem;
  line-height: 4.5rem;
  color: #087e8b;
  margin-left: 40px;
  margin: 0 auto;
}

span {
  color: #2b2b2b;
  font-family: 'Dancing Script', cursive;
  font-size: 4.25rem;
}


@media (min-width: 800px) {
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 5em;
    }

    .intro__title {
        font-size: 3.75rem;
    }
}

